
# You can find various examples of DATABASE_URL here: 
# https://www.prisma.io/docs/reference/database-reference/connection-urls
DATABASE_URL="mysql://root:admin@localhost"

NEXTAUTH_URL="http://localhost:3000"

# Run 'openssl rand -base64 32' to generate a secret. 
# NEXTAUTH_SECRET=""
NEXTAUTH_SECRET='nZk5AzqVex88K3XlUs/ZPqYLJtY47lSOkgoOL6+EwAI='

# You need to set up OAuth on Google Cloud Platform to get
# a Client ID and Secret. I've covered the steps in detail
# in the first part of my Ultimate Next.js series. 
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""

GOOGLE_CLIENT_ID='1020332880193-2d65jmqnmjpoud96o8ndfq7sit28tg9n.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='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'
